<!DOCTYPE html>
<html lang="en">
<head>
  <title>Brickey LeQuire - Mission to Mars</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Bootstrap style template used under The MIT License (https://github.com/twbs/bootstrap/blob/master/LICENSE):-->
  <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
  <!--My own stylesheet:-->
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

  
    <div class="container-fluid text-center">
        <div class="jumbotron">
            <h1>Mission to Mars</h1>
            <h2>Featured Image</h2>
                <img src="{{ featured_image }}" class="img-responsive", style="width:100%", alt="JPL Featured Image">
        </div>

        <h2>Mars Weather</h2>
            <p>{{ mars_weather }}</p>
        <h2>Mars Facts</h2>
        <p>{{ mars_facts }}</p>

        <h2>Mars Hemispheres</h2>
        <div class="col-sm-6">
          <div class="row">
            <h3>{{ hemisphere1_title }}</h3>
            <a href = "{{ hemisphere1_url }}">
            <img src="https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg" class="img-responsive" style="width:40%" alt="{{ hemisphere1_title }}"></a>
            </div>
              <div class="row">
            <h3>{{ hemisphere2_title }}</h3>
            <a href = "{{ hemisphere2_url }}">
            <img src="https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced/full.jpg" class="img-responsive" style="width:40%" alt="{{ hemisphere2_title }}"></a>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="row">
            <h3>{{ hemisphere3_title }}</h3>
            <a href = "{{ hemisphere3_url }}">
            <img src="https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced/full.jpg" class="img-responsive" style="width:40%" alt="{{ hemisphere3_title }}"></a>
          </div>
          <div class="row">
            <h3>{{ hemisphere4_title }}</h3>
            <a href = "{{ hemisphere4_url }}">
            <img src="https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced/full.jpg" class="img-responsive" style="width:40%" alt="{{ hemisphere4_title }}"></a>
          </div>
        </div>

    </div>
  </div>
  
<footer class="container-fluid text-center">
    <p>© 2019 // Peter Brickey LeQuire</p>
</footer>

</body>
</html>